* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #EFE9FE;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-bottom: 1px solid #bfc0c0;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
}

.logo img {
    margin-left: 12px;
    margin-top: 10px;

}

.navlink a {
    text-decoration: none;
    color: #373B3B;
    display: inline-block;
    margin: 0 30px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    cursor: pointer;
}

.navlink a:hover {
    color: #7d8888;
    border-bottom: 1px solid #cbcacf;
}

.menu {
    display: none;
}

main {
    padding: 10px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

main h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
    color: #000000;
}



.wrapper {
    background-color: #FFFFFF;
    padding: 40px 0;
}

.wrapper .mobilepreview {
    
    background-image: url(../Assest/Images/Iphone.svg);
    width: 100%;
    max-width: 430px;
    height: 972px;
    margin: auto;
}
.mobile-img  {
    display: flex;
    justify-content: center;
    padding-top: 120px;
  }
  .header {
    padding-top: 50px;
}
.header h1 {
    display: flex;
    justify-content: center;
    font-size: 16px;
}
.header p {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    padding-bottom: 20px;
}

.left {
    margin-left: 10px;
    padding: 10px 10px;
    background-color: #FFFFFF;

}
.header p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 8px;
    padding-bottom: 15px;
    color: #000000;
}

.header a {
    color: #fff;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #6A23BC;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 100px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.btn a {
    text-decoration: none;
    color: #ffff;
    font-weight: 700;
    line-height: 24px;
    font-size: 16px;
}

.facebook {
    display: flex;
    justify-content: space-between;
    margin: 10px 40px;
    background-color: #1877F2;
    border-radius: 100px;
    padding-right: 10px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
}


.github {
    display: flex;
    justify-content: space-between;
    margin: 10px 40px;
    background-color: #1E2323;
    border-radius: 100px;
    padding-right: 10px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
}

.linkedin {
    display: flex;
    justify-content: space-between;
    margin: 10px 40px;
    background-color: #1877F2;
    border-radius: 100px;
    padding-right: 10px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
}

.middle {
    background-color: #cfb4ed;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 12px;
    border-radius: 6px;
}


.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menulink {
    display: flex;
    align-items: center;
    gap: 4px;
    padding-top: 10px;
}
.platform {
   padding-top: 6px;
   
}

.img {
    background-color: #FFFFFF;
    max-width: 28px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 8px;
}

.flexitem {
    display: flex;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 8px;
    
}

.flexitem input {
    border-radius: 100px;
    outline: none;
    border: none;
    padding-left: 10px;
    width: 100%;
    max-width: 512px;
}
.file {
    background-color: #ffffff;
    width: 100%;
    border-radius: 100px;
    max-width: 552px;
    border: 1px solid #6A23BC;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
   margin-top: 8px;
    
}
.file input {
    outline: none;
    border: none;
   
}
.down {
    background-color: #cfb4ed;
    margin-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 12px;
    border-radius: 6px;
}
.button {
    margin-top: 25px;
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}

.button a {
    color: #fff;
    border-radius: 100px;
    background-color: #6A23BC;
    text-decoration: none;
    font-weight: 700;
    line-height: 24px;
    padding: 4px 25px;
    font-size: 16px;
}
.button a:hover {
    border: 2px solid #ac7de3;
    background-color: #fff;
    color: #6A23BC;
}
@media only screen and (max-width: 810px){
    main {
        padding: 10px 10px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .navlink a{
        display: none;
    }
    .menu {
        display: flex;
    }
    .left {
        margin-left: 0;
        margin-top: 10px;
    }
 
}